<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='home.css') }}">
</head>
<script>
    async function accept_application(application_id) {
        const _response = await fetch("/application/accept", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "application_id": application_id }),
        });
        alert("Su solicitud se ha realizado con éxito.")
        location.replace('/home');
    }

    async function reject_application(application_id) {
        const _response = await fetch("/application/reject", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "application_id": application_id }),
        })
        alert("Su solicitud se ha realizado con éxito.")
        location.reload();
    }

</script>

<body class="body-applications">
<h2> Estas son las solicitudes para cuidar tu casa. </h2>
<div>
    <ul>
        {% for application in applications %}
            <li class="li_usuarios">
            <li><b>Aplicante: {{ application[0] }}</b></li>
            <li>Description: {{ application[2] }}</li>
            <li>Age: {{ application[4] }}</li>
            <li>Country: {{ application[3] }}</li>
            </li>
            <a onclick="accept_application('{{ application[1] }}')">
                <button class="button">
                    <span class="button-text">Aceptar</span>
                </button>
            </a>
            <a onclick="reject_application('{{ application[1] }}')" >
                <button class="button">
                    <span class="button-text">Rechazar</span>
                </button>
            </a>
        {% endfor %}
    </ul>
</div>
</body>
</html>
