<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='house_details.css') }}">
</head>
<script>
    async function rate_applicant (user_id, house_id) {
        const _response = await fetch("/application/rate_applicant", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "rate": rate }),
        })
        location.reload();
    }
</script>

<body>
    <div class="form-container">
        <h1>This is the full information for user:</h1>
        <form>
            <div class="description">
                <label>Aplicante:</label>
                {{ user.username }}
            </div>
            {% if user.country != None %} 
                <div class="description">
                    <label>Country:</label>
                    {{ user.country }}
                </div>
            {% endif %}
            {% if user.age != None %} 
            <div class="description">
                <label>Age:</label>
                {{ user.age }}
            </div>
            {% endif %}
            {% if user.description != None %} 
            <div class="description">
                <label>Description:</label>
                {{ user.description }}
            </div>
            {% endif %}
        </form>
        <form method="POST" action="{{ url_for('rate_applicant', user_id=user.user_id, house_id=house_id) }}">
            <label for="rating">Rating:</label>
            <div class="rate">
                {% if rating.rating == 5 %} 
                <input type="radio" id="star5" name="rating" value="5" checked/>
                {% else %}
                <input type="radio" id="star5" name="rating" value="5" />
                {% endif %}
                <label for="star5" title="text">5 stars</label>
                {% if rating.rating == 4 %} 
                <input type="radio" id="star4" name="rating" value="4" checked/>
                {% else %}
                <input type="radio" id="star4" name="rating" value="4" />
                {% endif %}
                <label for="star4" title="text">4 stars</label>
                {% if rating.rating == 3 %} 
                <input type="radio" id="star3" name="rating" value="3" checked/>
                {% else %}
                <input type="radio" id="star3" name="rating" value="3" />
                {% endif %}
                <label for="star3" title="text">3 stars</label>
                {% if rating.rating == 2 %} 
                <input type="radio" id="star2" name="rating" value="2" checked/>
                {% else %}
                <input type="radio" id="star2" name="rating" value="2" />
                {% endif %}
                <label for="star2" title="text">2 stars</label>
                {% if rating.rating == 1 %} 
                <input type="radio" id="star1" name="rating" value="1" checked/>
                {% else %}
                <input type="radio" id="star1" name="rating" value="1" />
                {% endif %}
                <label for="star1" title="text">1 star</label>
            </div>
            <!-- <input type="number" id="rating" name="rating" value={{rating.rating}} required> -->
            {% if rating.comment %}
                <textarea type="text" id="comment" name="comment" rows="5" cols="50" placeholder="Leave some words for your caring applicant...">{{rating.comment}}</textarea>
            {% else %}
                <textarea type="text" id="comment" name="comment" rows="5" cols="50" placeholder="Leave some words for your caring applicant..."></textarea>
            {% endif %}
            <button type="submit">Rate your applicant!</button>
        </form>
    </div>
</body>