<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='house_details.css') }}">
</head>
<script>
    async function rate_applicant (user_id, house_id) {
        const _response = await fetch("/application/rate_applicant", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "rate": rate }),
        })
        location.reload();
    }
</script>

<body>
    <div class="form-container">
        <h1>This is the full information for user:</h1>
        <form>
            <div class="description">
                <label>Aplicante:</label>
                {{ user.username }}
            </div>
            <div class="description">
                <label>Country:</label>
                {{ user.country }}
            </div>
            <div class="description">
                <label>Age:</label>
                {{ user.age }}
            </div>
            <div class="description">
                <label>Description:</label>
                {{ user.description }}
            </div>
        </form>
        <form method="POST" action="{{ url_for('rate_applicant', user_id=user.user_id, house_id=house_id) }}">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" value={{rating}} required>
            <button type="submit">Rate your applicant!</button>
        </form>
    </div>
</body>