<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='home2.css') }}">
</head>
<script>
    async function accept_application(application_id) {
        const _response = await fetch("/application/accept", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "application_id": application_id }),
        });
        alert("Su solicitud se ha realizado con éxito.")
        location.replace('/home');
    }

    async function reject_application(application_id) {
        const _response = await fetch("/application/reject", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "application_id": application_id }),
        })
        alert("Su solicitud se ha realizado con éxito.")
        location.reload();
    }

</script>

<body class="body-applications">
<div class="form">
    <a href="{{ url_for('view_my_homes') }}">
        <button type="button" class="button">
            <span class="button-text">⬅️Back</span>
        </button>
    </a>

<h2> Estas son las solicitudes para cuidar tu casa. </h2>
<div>
    <ul>
        {% for application in applications %}
        <li class="house">
            <div style="display: flex; margin-top:1rem;">
            <label><b>Aplicante:  &nbsp;</b></label> <p>{{ application[0] }}</p> </div>
            <img src="{{ application[7] }}" class="imagen-circular">
            <div style="display: flex;">
            {% if application[2] != None %} 
                <label>Description:  &nbsp;</label> <p>{{ application[2] }}</p>
            {% endif %}
            </div>
            <div style="display: flex;">
            {% if application[4] != None %} 
            <label>Age: &nbsp; </label> <p>{{ application[4] }}</p>
            {% endif %}
            </div>
            <div style="display: flex;">
            {% if application[3] != None %} 
            <label>Country:  &nbsp;</label> <p>{{ application[3] }}</p>
            {% endif %}
            </div>
            {% if application[5] != 0 %} 
            <label>Mean rating:  &nbsp;</label> <p>{{ application[5] }}</p> 
            </div>
            <label>Comentarios:  &nbsp;</label>
            <ul>
                {% for comentario in application[6] %} 
                    <li style='margin-left: 40px;'>{{ comentario }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <label>Mean rating:  &nbsp;</label>
            <p>User has not been rated yet</p>
            {% endif %}
            <div style="display: flex;">
            <a onclick="accept_application('{{ application[1] }}')">
                <button class="button">
                    <span class="button-text">Aceptar</span>
                </button>
            </a>
            <a onclick="reject_application('{{ application[1] }}')" >
                <button class="button" style="margin-left:1rem;">
                    <span class="button-text">Rechazar</span>
                </button>
            </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
</body>
</html>
