<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='home.css') }}">
</head>
<script>
    async function view_details(house) {
        const r = await fetch("/home/"+house, {
            method: 'GET',
            headers: {
                 "Content-Type": "application/json",
            },
        });
        return r;
    }

    function validateForm() {
        return true;
    }

</script>

<body>
<div class="dashboard">
    <a href="#">
        <img src="{{ url_for('static', path='careapp_logo.jpg') }}" alt="CareApp Logo">
    </a>
    <div class="owner-section">
        {% set my_houses = houses | selectattr(4, '==', user_id) | list %}
        {% if my_houses|length == 0 %}
            <h1 class="section-name">No houses published</h1>
            <p class="empty-message">
                Calling all pet-loving homeowners! 🐾🏡
            </p>
            <p class="empty-message">
                Share the love and warmth of your home with fellow animal enthusiasts by becoming a part of our
                pet-friendly community.
            </p>
            <p class="empty-message">
                Publish your home with pets and embark on unforgettable experiences for both humans and their furry
                friends.
            </p>
            <p class="empty-message">
                Click the button below and start spreading joy, one wagging tail at a time! 🐶❤️🐱
            </p>
            <a href="{{ url_for('my_home') }}">
                <button class="button">
                    <span class="button-text">Publish Home 🚀</span>
                </button>
            </a>
        {% else %}
            <h1>My Homes</h1>
            <ul>
                {% for name in my_houses %}
                    <li class="house">
                        <div class="description">
                            <label>Description:</label>
                            {{ name[1] }}
                        </div>
                        <div class="start-date">
                            <label>Start Date:</label>
                            {{ name[2] }}
                        </div>
                        <div class="end-date">
                            <label>End Date:</label>
                            {{ name[3] }}
                        </div>
                        <div class="description">
                            <label>City:</label>
                            {{ name[5] }}
                        </div>
                        <div class="description">
                            <label>Rooms:</label>
                            {{ name[6] }}
                        </div>
                        {% for name in name[7] %}
                        <label> Mascotas: </label>
                        <div>
                            <label>{{ name[0] }}. </label>
                            <label>Cantidad: {{ name[1] }}</label>
                        </div>
                        {% endfor %}
                        <a href="{{ url_for('applications', house=name[0]) }}">
                            <button class="button">
                                <span class="button-text">Ver solicitantes</span>
                            </button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('my_home') }}">
                <button class="button">
                    <span class="button-text">Publish Home</span>
                </button>
            </a>
        {% endif %}
    </div>
    <div class="other-owners-section">
        {% set other_houses = houses | selectattr(4, '!=', user_id) | list %}
        <h1>Other Homes</h1>
        <ul>
            {% for name in other_houses %}
                <li class="house">
                    <div class="start-date">
                        <label>Start Date:</label>
                        {{ name[2] }}
                    </div>
                    <div class="end-date">
                        <label>End Date:</label>
                        {{ name[3] }}
                    </div>
                    <div class="description">
                        <label>City:</label>
                        {{ name[5] }}
                    </div>
                    <a href="{{ url_for('house_details', house_id=name[0]) }}">
                        <button class="button">
                            <span class="button-text">View details</span>
                        </button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="profile">
    <div class="form-container">
    <h1> My Profile </h1>
    <form method="POST" action="{{ url_for('edit') }}" onsubmit="return validateForm()">
        <li><label for="country">Country:</label>
        <input type="text" id="country" name="country" value={{user.country}} required></li>
        <li><label for="age">Age:</label>
        <input type="number" id="age" name="age" value={{user.age}} required></li>
        <li><label for="description">Description:</label>
        <textarea type="text" id="description" name="description" rows="5" cols="50" required>{{user.description}}</textarea></li>
        <button class="button">
            <span class="button-text">Edit</span>
        </button>
    </form>
    </div>
</div>
</body>
</html>
