<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='home.css') }}">
</head>
<script>
    function aplicate_to_house(username, house) {
        fetch("/aplication?username=" + username + "&house=" + house)
            .then(function(response) {
                alert("Su solicitud se ha realizado con éxito.")                
            })
            .catch(function(error) {
                alert("Ups! Algo salió mal. Por favor, inténtelo de nuevo.")
            });
    }
</script>

<body>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#">CareApp</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Opportunities</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="dashboard">
        <div class="container">

            <a href="{{ url_for('add_my_home') }}">Add my home</a>
        </div>
        <div><ul>
            {% for name in houses %}
                <li>Description: {{ name[1] }}. Start date: {{name[2]}}. End date: {{name[3]}}</li>
                {% if name[4] == username %}
                    <a href="#">Ver solicitantes</a>
                {% else %}                    
                    <a href="#" onclick="aplicate_to_house('{{ username }}', '{{ name[0] }}')">Aplicar</a>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        
    </section>
</body>
</html>