<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='house_details.css') }}">
</head>
<script>
    function aplicate_to_house(house) {
        fetch("/application", {
            method: 'POST',
            headers: {
                 "Content-Type": "application/json",
            },
            body: JSON.stringify({ "house_id": house }),
        })
        .then(function(response) {
            alert("Su solicitud se ha realizado con éxito.")                
            location.replace('/home');
        })
        .catch(function(error) {
            alert("Ups! Algo salió mal. Por favor, inténtelo de nuevo.")
        });
    }

    function validateForm() {
        return true;
    }

</script>
<body>
    <div class="form-container">
        <form>
            <a href="{{ url_for('search_homes') }}">
                <button type="button" class="button">
                    <span class="button-text">⬅️Back</span>
                </button>
            </a>
            <h1>This is the full information for the house:</h1>
            <div class="description">
                <label style="margin-top: 5px;">Description:</label>
                {{ house.description }}
            </div>
            <div class="start-date">
                <label style="margin-top: 5px;">Start Date:</label>
                {{ house.start_date }}
            </div>
            <div class="end-date">
                <label style="margin-top: 5px;">End Date:</label>
                {{ house.end_date }}
            </div>
            <div class="description">
                <label style="margin-top: 5px;">City:</label>
                {{ house.city }}
            </div>
            <div class="description">
                <label style="margin-top: 5px;">Rooms:</label>
                {{ house.rooms }}
            </div>
            <table style="margin-top: 5px;">
                <tr>
                  <th>Mascota</th>
                  <th>Cantidad</th>
                </tr>
                {% for name in pets %}
                    <tr>
                        <td>{{ name[0] }}</td>
                        <td>{{ name[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {% if house.image1 %}
                <img src="{{house.image1}}" alt="Imagen1">
            {% endif %}
            {% if house.image2 %}
                <img src="{{house.image2}}" alt="Imagen2">
            {% endif %}
            {% if house.image3 %}
                <img src="{{house.image3}}" alt="Imagen3">
            {% endif %}
            {% if house.image4 %}
                <img src="{{house.image4}}" alt="Imagen4">
            {% endif %}
            {% if house.image5 %}
                <img src="{{house.image5}}" alt="Imagen5">
            {% endif %}

            </ul>
            <a onclick="aplicate_to_house('{{ house.house_id }}')">
                <button class="button">
                    <span class="button-text">Apply now!</span>
                </button>
            </a>
        </form>
    </div>
</body>