<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='my_home.css') }}">
    <title>House description form</title>
  </head>
  <script>
    function validateForm() {
        var start_date = document.getElementById("start_date").value;
        var end_date = document.getElementById("end_date").value;
        if (start_date > end_date) {
            error_msg.innerHTML = "Start date must be before end date!";
            return false;
        }
        return true;
    }
</script>
  <body>
    <h1>House description form</h1>
    <div class="form-container">
    <form method="post" action="{{ url_for('create_home') }}" onsubmit="return validateForm()">
      <label for="start_date">Start date:</label>
      <input type="date" id="start_date" name="start_date" required>
      
      <label for="end_date">End date:</label>
      <input type="date" id="end_date" name="end_date" required>
      
      <label for="rooms">Rooms:</label>
      <input type="number" id="room" name="room" required>

      <label for="city">City:</label>
      <input id="city" name="city" required>

      <label for="pet"> Pets: </label>

      <div>
      {% for name in animals %}
      <div>
        <label class="check-animal">{{ name }}</label>
        <label class="check-animal">Cantidad: </label>
        <input class="check-animal" type="number" name="{{name}}_cant" min="0" max="10" id="{{name}}_cant" value="0">
      </div>
      {% endfor %}
      </div>

      <label for="description">House description:</label>
      <textarea id="description" name="description" required rows="5" cols="50"></textarea>
      
      <div id="error_msg" style="color: red;"></div>
      <button type="submit">Publish</button>
    </form>
    </div>
  </body>
</html>
