<!DOCTYPE html>
<html>
<head>
    <title>Care App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='home2.css') }}">
</head>

<body>
    <div class="form">
        <a href="{{ url_for('home') }}">
            <button type="button" class="button">
                <span class="button-text">⬅️Back</span>
            </button>
        </a>    
        <h1>My Applications</h1>
            <ul>
                {% for application in applications %}
                    <li class="house">
                        <div style="display: flex; margin-top:1rem;">
                            <label>Description: &nbsp;</label> <p>{{ application[1] }}</p>
                        </div>
                        <div style="display: flex; margin-top:1rem;">
                            <label>Start Date: &nbsp;</label> <p>{{ application[2] }}</p>
                        </div>
                        <div style="display: flex;">
                            <label>End Date: &nbsp;</label> <p>{{ application[3] }}</p>
                        </div>
                        <div style="display: flex;">
                            <label>City: &nbsp;</label> <p>{{ application[4] }}</p>
                        </div>
                        <div style="display: flex;">
                            {% if application[0] == True %}
                                <label>Estado: &nbsp;</label> <p><b> Aceptada </b></p>
                            {% elif application[0] == False %}
                                <label>Estado: &nbsp;</label> <p><b> Rechazada </b></p>
                            {% else %}
                                <label>Estado: &nbsp;</label> <p><b> Pendiente </b></p>
                            {% endif %}
                        </div>
                    </li>

                    {% if application[0] == True %}
                        <form method="POST" action="{{ url_for('rate_home',  house_id=application[5]) }}">
                            <label for="rating">Rating:</label>
                            <div class="rate">
                                {% if application[6] == 5 %} 
                                <input type="radio" id="star5_{{application[5]}}" name="rating" value="5" checked/>
                                {% else %}
                                <input type="radio" id="star5_{{application[5]}}" name="rating" value="5" />
                                {% endif %}
                                <label for="star5_{{application[5]}}" title="text">5 stars</label>
                                {% if application[6] == 4 %} 
                                <input type="radio" id="star4_{{application[5]}}" name="rating" value="4" checked/>
                                {% else %}
                                <input type="radio" id="star4_{{application[5]}}" name="rating" value="4" />
                                {% endif %}
                                <label for="star4_{{application[5]}}" title="text">4 stars</label>
                                {% if application[6] == 3 %} 
                                <input type="radio" id="star3_{{application[5]}}" name="rating" value="3" checked/>
                                {% else %}
                                <input type="radio" id="star3_{{application[5]}}" name="rating" value="3" />
                                {% endif %}
                                <label for="star3_{{application[5]}}" title="text">3 stars</label>
                                {% if application[6] == 2 %} 
                                <input type="radio" id="star2_{{application[5]}}" name="rating" value="2" checked/>
                                {% else %}
                                <input type="radio" id="star2_{{application[5]}}" name="rating" value="2" />
                                {% endif %}
                                <label for="star2_{{application[5]}}" title="text">2 stars</label>
                                {% if application[6] == 1 %} 
                                <input type="radio" id="star1_{{application[5]}}" name="rating" value="1" checked/>
                                {% else %}
                                <input type="radio" id="star1_{{application[5]}}" name="rating" value="1" />
                                {% endif %}
                                <label for="star1_{{application[5]}}" title="text">1 star</label>
                            </div>
                            {% if application[7] %}
                                <textarea type="text" id="comment_{{application[5]}}" name="comment" rows="5" cols="50" placeholder="Leave some words for your caring applicant...">{{application[7]}}</textarea>
                            {% else %}
                                <textarea type="text" id="comment_{{application[5]}}" name="comment" rows="5" cols="50" placeholder="Leave some words for your caring applicant..."></textarea>
                            {% endif %}
                            <button type="submit">Rate your applicant!</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
</body>